/* General app container */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  color: white;
  background-color: #1b1b1b;
  min-height: 100vh;
  padding: 20px;
}

/* Start page styling */
.start-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.start-page h1 {
  font-size: 32px;
  margin-bottom: 30px;
}

.nav-button {
  padding: 15px;
  background-color: #ff4a4a;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  width: 200px;
}

.nav-button:hover {
  background-color: #e94141;
}

/* Path Screen */
.path {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.path h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.lecture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: gray;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 10px;
  pointer-events: none;
}

.lecture.unlocked {
  background-color: #ff4a4a;
  pointer-events: auto;
}

.final-quiz {
  width: 60px;
  height: 60px;
  background-color: gray;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 20px;
  pointer-events: none;
}

.final-quiz.unlocked {
  background-color: gray;
  pointer-events: auto;
}
